<?xml version="1.0" encoding="UTF-8"?>
<launch>

  <param name="initial_package" type="string" value="myservice" />
  <node name="rosprolog" pkg="rosprolog" type="rosprolog_node" output="screen"/>

<include file="$(find tiago_2dnav_gazebo)/launch/tiago_navigation.launch">
    <arg name="robot"      value="steel"/>
    <arg name="public_sim" value="true"/>
    <arg name="world"      value="A03"/>
    <arg name="map"      value="/home/user/exchange/tiago_docker/assignment03_ws/src/tiago_service/living_room_map"/>
</include>

 <arg name="markerSize"      default="0.045"/>    <!-- in m -->
 <node pkg="aruco_ros" type="marker_publisher" name="aruco_marker_publisher">
      <remap from="/camera_info"       to="/xtion/rgb/camera_info" />
      <remap from="/image"             to="/xtion/rgb/image_rect_color" />
      <param name="image_is_rectified" value="True"/>
      <param name="marker_size"        value="$(arg markerSize)"/>
      <param name="reference_frame"    value="/base_footprint"/>   <!-- frame in which the marker pose will be expressed -->
      <param name="camera_frame"       value="/xtion_rgb_optical_frame"/>
      <param name="marker_frame"       value="/aruco_frame" />
      <param name="corner_refinement"  value="SUBPIX" />
  </node>

  <node pkg="look_to_point" type="look_to_point" name="look_to_point"/>
  <node name="rviz2" pkg="rviz" type="rviz" args="-d $(find tiago_aruco_demo)/config/aruco_demo.rviz" required="true" />

</launch>