<?xml version="1.0" encoding="UTF-8"?>
<launch>

 <!-- rosprolog for storing & providing ontology services -->
  <include file="$(find tiago_2dnav_gazebo)/launch/tiago_navigation.launch">
    <arg name="gzpose" value="-x 0.0  -y   0.0 -z  0.0   -R 0.0 -P 0.0 -Y  0.0"/>
    <arg name="robot"      value="steel"/>
    <arg name="public_sim" value="true"/>
    <arg name="world"      value="assignment"/>
    <arg name="map"      value="/home/user/exchange/tiago_docker/ssy236_g02/src/barbot_demo/maps/living_room_map"/>
  </include>

  <arg name="package_name"      default="barbot_brain"/>
  <param name="initial_package" type="string" value="$(arg package_name)" />
  <node name="rosprolog" pkg="rosprolog" type="rosprolog_node" output="screen"/>
  <node name="barbot_demo_node" pkg="barbot_demo" type="barbot_demo" output="screen"/>
</launch>